
nav {
  background-color: green;
  display: flex;
  justify-content: space-around;
}

nav li {
  background-color: blue;
  width: 100%;
  padding: 10px;
  margin: 10px;
  list-style: none;
  text-align: center;
}


@media only screen and (max-width: 768px) {
  nav {
    display: block;
    padding: 10px;
  }

  nav li {
    width: 90%;
  }
  body {
    background-color: red;
  }

}
